<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <membership defaultProvider="CCMembershipProvider">
      <providers>
        <add name="CCMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="CCSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile defaultProvider="CCSqlProfileProvider">
      <properties>
        <add name="userName" type="String" />
        <add name="userID" type="String" />
        <add name="degreeID" type="String" />
        <add name="contact" type="String" />
        <add name="email" type="String" />
        <add name="address" type="String" />
        <add name="favourites" type="String" />
        <add name="isProfessor" type="String" />      
      </properties>
      <providers>
        <add name="CCSqlProfileProvider" connectionStringName="CCSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="CCSqlRoleProvider">
      <providers>
        <add connectionStringName="CCSqlServer" applicationName="/" name="CCSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="pramod.manepalli@gmail.com"/>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="CourseConnect" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CourseConnect.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CCSqlServer" connectionString="Data Source=(LocalDB)\v11.0;Integrated Security=True;AttachDBFilename=|DataDirectory|\aspnetdb.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <!--<siteMap enabled="true">
    <providers>
      <clear/>
      <add siteMapFile="Web.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true"/>
    </providers>
  </siteMap>-->

  <location path="AdminActions.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="manageData_Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CreateUser.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="professorAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Professor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>